body{
    padding: 0;
    margin: 0;
    background-image: url(../img/bgClouds.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#header{
    text-align: center;
    background-color: white;
    font: normal normal bold 30px 'Merienda', cursive;
}
#header p{
    margin: 0;
    padding: 10px;
}
#header a{
    color: black;
    text-decoration: none;
}

#content{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 50px;
}
#content form{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    right:0;
    width: 340px;
    transition: right 1000ms , width 1000ms;
}
#info{
    width: 0;
    height: 0;
    opacity: 0;
    box-shadow: 0 0 10px black;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(255,255,255,0.5);
    font-family: 'Karla', sans-serif;
}

#content form.active-big-form{
    position:relative;
    transition:right 1000ms , width 1000ms;
    right:5%;
}
#info.active-big-info{
    opacity: 1;
    width: 500px;
    height: 243px;
    transition: opacity 2000ms, width 1500ms, height 1500ms;  
}

#content form.active-small-form{
   margin:50px;
}
#info.active-small-info{
    
    opacity: 1;
    width: 500px;
    height: 243px;
    transition: opacity 2000ms, width 1500ms, height 1500ms;  
}



#all-info-without-feel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#img-temp-weather div img{
    width:130px;
}
#img-temp-weather div span{
    font-size:25px;
}

#country-city-date{
    font-size:25px;
    line-height: 2.5;
}

#feel{
    display: flex;
    justify-content: center;
}

#feel div{
    width: max-content;
    padding: 5px 30px;
    box-shadow: 0 0 6px;
    font-size: 28px;
    border-radius: 20px;
}

#zip{
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(255,255,255,0.3);
}

#feelings{
    margin: 20px 0;
    border-radius: 25px;
    padding: 15px;
    font-size: 20px;
    background-color: rgb(255,255,255,0.3);
    width: 300px;
    height: 160px;
    max-width: 300px;
    max-height: 160px;
}

#generate{
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: rgb(0,0,0,0.7);
    width: 50%;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 300ms;
    
}

#generate:hover{
    transform: scale(1.1);
    background-color: rgb(0,0,0,0.3);
}


/*--------->Media<----------*/

@media screen and (max-width: 1212px)
{
    #content{
    flex-direction: column-reverse;
    }
    #content form{
    }
    #content form.active-big-form{
        right: 0;   
    }
    #content form.active-big-form{
        margin: 50px; 
    }
    
    
}

@media screen and (max-width: 585px)
{
    #img-temp-weather div img{
        width:98px;
    }
    #img-temp-weather div span{
        font-size:20px;
    }

    #country-city-date{
        font-size:20px;
    }
    #info.active-small-info{
        width: 340px
    }
    #info.active-big-info{
        width: 340px
    }
    #content form{
        width: 250px;
    }
    #feel div{
        font-size: 20px;
    }
    
}
